@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

li a {
  color: inherit;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto//Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garamond-Light";
  src: url("../fonts/Garamond/CormorantGaramond-Light.eot");
  src: local("☺"), url("../fonts/Garamond/CormorantGaramond-Light.woff") format("woff"), url("../fonts/Garamond/CormorantGaramond-Light.ttf") format("truetype"), url("../fonts/Garamond/CormorantGaramond-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Garamond-Bold";
  src: url("../fonts/Garamond/CormorantGaramond-Bold.eot");
  src: local("☺"), url("../fonts/Garamond/CormorantGaramond-Bold.woff") format("woff"), url("../fonts/Garamond/CormorantGaramond-Bold.ttf") format("truetype"), url("../fonts/Garamond/CormorantGaramond-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
header {
  position: fixed;
  font-family: "Roboto-Bold";
  width: 100%;
  height: 6em;
  padding: 0 45px;
  border-bottom: 1px solid #BDBDBD;
  background-color: white;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 20px -15px #000000;
          box-shadow: 0px 5px 20px -15px #000000;
}

.header-wrapper {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-wrapper__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-wrapper__img-logo {
  height: 4.8em;
}
.header-wrapper__inscription {
  margin-left: 10px;
}
.header-wrapper__inscription .first {
  margin-bottom: 5px;
  font-size: 1.5em;
  color: #2CA900;
}
.header-wrapper__navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-wrapper__navigation > ul li {
  cursor: pointer;
  position: relative;
  font-family: "Garamond-Light";
  font-size: 1.8em;
}
.header-wrapper__navigation > ul li:nth-child(2) {
  margin: 0 8vw 0 8vw;
}
.header-wrapper__navigation > ul li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  left: 0;
  bottom: -3px;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
  background-color: black;
}
.header-wrapper__navigation > ul li:hover::before {
  width: 100%;
}
.header-wrapper__wrapper-text {
  text-align: right;
  font-family: "Roboto";
  font-size: 1.1em;
}
.header-wrapper__wrapper-text p:nth-child(2) {
  font-family: "Roboto-Bold";
  margin: 5px 0 5px 0;
}
.header-wrapper .burger {
  display: none;
}

.popup-menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}
.popup-menu__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-menu__body {
  color: black;
  font-family: "Garamond";
  text-transform: uppercase;
  height: inherit;
  width: 300px;
  background-color: white;
  -webkit-box-shadow: 5px 0px 16px -9px #000000;
          box-shadow: 5px 0px 16px -9px #000000;
}
.popup-menu__content {
  padding: 15px;
  position: relative;
}
.popup-menu__close {
  font-size: 3em;
  position: absolute;
  top: -7px;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-menu__heading {
  font-size: 2em;
  border-bottom: 2px solid black;
  padding: 10px 30px 5px 0;
}
.popup-menu .list-menu .menu-ul {
  margin-top: 15px;
}
.popup-menu .list-menu .menu-ul li {
  border-left: 2px solid black;
  padding-left: 10px;
  font-size: 1.7em;
  margin-bottom: 20px;
}
.popup-menu:target {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.wave-btn {
  width: 280px;
  height: 40px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -ms-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(9, 255, 0, 0.6);
  box-shadow: 0 0 40px rgba(9, 255, 0, 0.6);
}

.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: "Roboto";
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 300px;
  background-color: #49ff80;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 48%;
  animation: waves 5s infinite linear;
  -webkit-animation: waves 5s infinite linear;
  -moz-animation: waves 5s infinite linear;
  -o-animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
  -webkit-animation: waves 10s infinite linear;
  -moz-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
.footer {
  color: white;
  width: 100%;
  height: 16.5em;
  background-color: #353535;
}

body {
  font-family: "Roboto";
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2CA900;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.container-img {
  padding-top: 5em;
  height: 48rem;
  border-bottom: 1px solid #BDBDBD;
  background-image: url(../img/main/blur-wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-img__appoint {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-img__border {
  width: 36.75em;
  height: 27.5em;
}
.container-img__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 96%;
  margin: 5px;
  padding: 20px 15px;
}
.container-img__content .heading {
  font-size: 1.7em;
  font-weight: 700;
}
.container-img__content .text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #838383;
  font-size: 1.2em;
  line-height: 25px;
}

.main-info {
  padding: 0 15vw;
  margin-top: 50px;
  color: #777777;
}
.main-info__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-info .mrgn30 {
  margin-left: 30px;
}
.main-info__switch {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.7em;
  color: #2CA900;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.main-info__switch::before {
  height: 1.5px;
  background-color: #2CA900;
  left: 0;
  top: 27px;
  width: 0;
  -webkit-transition: width 0.35s;
  transition: width 0.35s;
  content: "";
  position: absolute;
}
.main-info__switch.active::before {
  width: 100%;
}
.main-info__text {
  margin-top: 40px;
  padding-left: 10px;
  font-size: large;
  max-width: 900px;
}
.main-info ul {
  margin-top: 30px;
}
.main-info ul li {
  position: relative;
  margin-top: 15px;
  padding-left: 30px;
}
.main-info ul li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #2CA900;
  border-radius: 50%;
  left: 6px;
  top: 5px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.service .heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin: 90px 0 60px 0;
}
.service__grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.6vw 1fr 2.6vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.6vw;
}
.service__appoint {
  width: auto;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 16px -9px #000000;
          box-shadow: -1px 2px 16px -9px #000000;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}
.service__container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 20px 20px 20px;
}
.service__image {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}
.service__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.service__heading {
  padding: 0 15px;
  font-size: 1.5em;
  font-family: "Roboto-Bold";
  color: #313131;
  text-align: center;
}
.service__text {
  font-size: 1.2em;
  color: #777777;
  line-height: 20px;
}
.service__btn {
  justify-self: flex-end;
  margin-top: 15px;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.service__btn a {
  width: 75%;
}
.service__back-btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2CA900;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
}

.content {
  padding: 0 15vw;
}

.page-form {
  margin-top: 100px;
}
.page-form__bgnd {
  background-image: url(../img/main/family.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form {
  max-width: 550px;
  margin: 0 auto;
  color: black;
  padding: 90px 0;
}
.form__title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.form__item {
  margin: 0 0 20px 0;
}
.form__label {
  color: white;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  border: 1px solid white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__input:focus {
  -webkit-box-shadow: 0 0 15px rgb(8, 215, 46);
          box-shadow: 0 0 15px rgb(8, 215, 46);
}
.form textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #2CA900;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 #1f1f1f;
          box-shadow: 0 5px 0 #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: relative;
  top: 0;
}
.form__button:hover {
  background-color: #1f7400;
}
.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #1f1f1f;
          box-shadow: 0 2px 0 #1f1f1f;
}

.container-ser {
  padding-top: 6em;
  margin: 0 35vw;
}
.container-ser .heading {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #383838;
  text-shadow: 0px 0px 31px rgba(0, 0, 0, 0.25);
}

.card {
  width: 100%;
  -webkit-box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.card__image {
  border-radius: 20px 20px 0 0;
  height: 350px;
}
.card__image img {
  border-radius: 20px 20px 0 0;
  max-width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__content {
  padding: 0 35px 25px 35px;
}
.card__heading {
  font-size: 26px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 25px;
  text-align: center;
}
.card__text {
  line-height: 157.69%;
}
.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 25px auto 0 auto;
  width: 60%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.145em;
}

@media (max-width: 1200px) {
  .header-wrapper__wrapper-text {
    display: none;
  }

  header {
    padding-right: 30px;
  }

  .service__grid-wrapper {
    -ms-grid-columns: 1fr 2.6vw 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-ser {
    margin: 0 25vw;
  }
}
@media (max-width: 992px) {
  .container-ser {
    margin: 0 15vw;
  }
}
@media (max-width: 770px) {
  .content {
    padding: 0 5vw;
  }

  header {
    height: 5em;
    padding: 0 15px;
  }

  .header-wrapper__navigation {
    display: none;
  }
  .header-wrapper .burger {
    display: block;
    width: 70px;
    height: 70px;
  }
  .header-wrapper .burger img {
    width: 100%;
    height: auto;
  }

  .container-img {
    height: 35rem;
    display: block;
  }
  .container-img__photo {
    display: none;
  }
  .container-img__appoint {
    width: 100%;
  }
  .container-img__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-img__content .text {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .main-info {
    margin: 10px 0;
    padding: 0 5vw;
  }
  .main-info__flex-wrapper {
    display: block;
  }
  .main-info .mrgn30 {
    margin: 20px;
  }

  .slick-prev,
.slick-next {
    opacity: 0;
  }
}
@media (max-width: 580px) {
  .service__grid-wrapper {
    display: block;
  }
  .service__appoint {
    margin-top: 50px;
  }

  .container-ser {
    margin: 0 5vw;
  }
}