@import "null.scss";
@import "fonts.scss";
@import "header.scss";
@import "button.scss";
@import "footer.scss";
$green:#2CA900;

body{
    font-family: 'Roboto';
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
  }
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $green;
  }
  
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }

.container-img{
        padding-top: 5em;
        height: 48rem;
        border-bottom: 1px solid #BDBDBD;
        background-image: url(../img/main/blur-wave.png) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
    &__appoint{
        width: 50%;
        height: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__border{
        width: 36.75em;
        height: 27.5em;
    }
    &__content{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 96%;
        margin: 5px;
        padding: 20px 15px;
        .heading{
            font-size: 1.7em;
            font-weight: 700;
        }
        .text{
            align-self: flex-start;
            color: #838383;
            font-size: 1.2em;
            line-height: 25px;
        }
    }
}

.main-info{
    padding: 0 15vw;
    margin-top: 50px;
    color: #777777;
    &__flex-wrapper{ display: flex; }
    .mrgn30{ margin-left: 30px;}
    &__switch{
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.7em;
        color: $green;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        
    }
    &__switch::before{
        height: 1.5px;
        background-color: $green;
        left: 0;
        top: 27px;
        width: 0;
        transition: width 0.35s;
        content: '';
        position: absolute;
    }
    &__switch.active::before{
        width: 100%;
    }
    
    &__text{
        margin-top: 40px;
        padding-left: 10px;
        font-size: large;
        max-width: 900px;
    }
    ul{
        margin-top: 30px;
        
        li{
            position: relative;
            margin-top: 15px;
            padding-left: 30px;
        }
        li::before{
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            background-color: #2CA900;
            border-radius: 50%;
            left: 6px;
            top: 5px;
        }
    }
}

[data-tab-content] { display: none; }
.active[data-tab-content] { display: block; }

.service{
    .heading{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        margin: 90px 0 60px 0;
    }
    &__grid-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.6vw;
        
    }
    &__appoint{
        width: auto;
        border-radius: 10px;
        box-shadow: -1px 2px 16px -9px #000000;
        height: 100%;
        display: grid;
        grid-gap: 15px;
    }
    &__container{
        align-self: flex-end;
        padding: 0 20px 20px 20px;
    }
    &__image{
        flex-basis: 200px;
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    &__heading{
       padding: 0 15px;
        font-size: 1.5em;
        font-family: 'Roboto-Bold';
        color: #313131;
        text-align: center;
    }
    &__text{
        
        font-size: 1.2em;
        color: #777777;
        line-height: 20px;
    }
    &__btn{
        justify-self: flex-end;
        a{
            width: 75%;
        }
        margin-top: 15px;
        font-size: 1.2em;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        flex-basis: 50%;
    }
    &__back-btn{
        display: inline-block;
        color: #ffffff;
        background-color: $green;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-radius: 10px;
    }
}
.content{
    padding: 0 15vw;
}

.page-form{
    margin-top:100px;
    &__bgnd{ 
        background-image: url(../img/main/family.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

}

.form{
    
    max-width: 550px;
    margin: 0 auto;
    color: black;
    padding: 90px 10px;
    &__body{
        position: relative;   
    }
    &__body::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: rgba($color: #c5c5c5, $alpha: .5) url(../img/main/loadgif.gif) center / 50px no-repeat;
        opacity: 0;
        visibility: hidden; 
        transition: all 0.5s ease 0s;
    }
    &__body._sending::after{
        opacity: 1;
        visibility: visible;
    }
    &__title{
        color: white;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 30px 0;
    }
    &__item{
        margin: 0 0 20px 0;
    }
    &__label{
        color: white;
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }
    &__input{
        height: 50px;
        padding: 0 20px;
        border-radius: 5px;
        width: 100%;
        font-size: 18px;
        border: 1px solid white;
        transition: all 0.5s ease 0s;
    }
    &__input._error{
        box-shadow: 0 0 15px red;
    }
    &__input:focus{
        box-shadow: 0 0 15px rgb(8, 215, 46);
    }
    textarea.form__input{
        min-height: 120px;
        resize: vertical;
        padding: 20px;
    }
    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        background-color: $green;
        color: white;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0 5px 0 #1f1f1f;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: background-color 0.3s ease 0s;
        position: relative;
        top: 0;
    }
    &__button:hover{
        background-color: #1f7400;
    }
    &__button:active{
        top: 3px;
        box-shadow: 0 2px 0 #1f1f1f;
    }
}

.container-ser{
    padding-top: 6em;
    margin: 0 35vw;
    .heading{
        margin: 40px 0;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        color: #383838;
        text-shadow: 0px 0px 31px rgba(0, 0, 0, 0.25);
    }
}
.card{
    width: 100%;
    box-shadow: 0px 3px 30px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &__image{
        border-radius: 20px 20px 0 0;
        height: 350px;
        img{
            border-radius: 20px 20px 0 0;
            max-width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
    &__content{
        padding: 0 35px 25px 35px;
    }
    &__heading{
        font-size: 26px;
        line-height: 38px;
        color: #000000;
        margin-bottom: 25px;
        text-align: center;
    }
    &__text{
        line-height: 157.69%;
    }
    &__button{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 25px auto 0 auto;
        width: 60%;
        height: 50px;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__text-btn{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.145em;
    }
}

@media (max-width:1200px){
    .header-wrapper__wrapper-text{ display: none; } 
    header{ padding-right: 30px;}
    .service{
        &__grid-wrapper{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .container-ser{
        margin: 0 25vw;
    }
 }
 @media (max-width:992px){
    .container-ser{
        margin: 0 15vw;
    }
 }
 @media (max-width:770px){
    .content{ padding: 0 5vw; }
     header{ height: 5em; padding: 0 15px; }
     .header-wrapper{
         &__navigation{ display: none; }
         .burger{ 
             display: block; 
             width: 70px; 
             height: 70px;
             img{
                 width: 100%;
                 height: auto;
             }
         }
     }
     .container-img{
        height: 35rem;
         display: block;
         &__photo{ display: none; }
         &__appoint{ width: 100%; }
         &__content{ align-items: center; .text{align-self: flex-start;}}
     }
     .main-info{ 
        margin: 10px 0;
        padding: 0 5vw; 
        &__flex-wrapper{ display: block; }
        .mrgn30{ margin: 20px; }
    }
    .slick-prev,
    .slick-next{opacity: 0;}
 }
 @media (max-width:580px){
    .service{
        &__grid-wrapper{
            display: block;
        }
        &__appoint{
            margin-top: 50px;
        }
    }
    .container-ser{
        margin: 0 5vw;
    }
 }